.header-container {
    max-width: 1920px;
    background-color: #f8f6f8;
}
.header-img {
    height: 100%;
    width: 100%;
    background-color: #f8f6f8;
}
#bgvid {
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
    display: block;
}
